<%- include header%>
<div class="body">
    <%- include nav%>
    <div class="container">
        <section  id="content" class="content">
            <% _.forEach(articles, function(article){ %>
            <div class="pad group">
                <article class="format-image group">
                    <h2 class="post-title pad">
                        <a href="/"><%=article.title%></a>
                    </h2>
                    <div class="post-inner">
                        <div class="post-deco">
                            <div class="hex hex-small">
                                <div class="hex-inner"><i class="fa"></i></div>
                                <div class="corner-1"></div>
                                <div class="corner-2"></div>
                            </div>
                        </div>
                        <div class="post-content pad">
                            <div class="entry custome">
                                <%-article.content_mini%>
                            </div>
                            <a class="more-link-custom" target="_blank" href="/detail?id=<%=article.aid%>"><span><i>更多</i></span></a>
                        </div>
                    </div>
                </article>
            </div>
            <%});%>
        </section>
    </div>
</div>
<nav>
    <ul id="page" class="pager">
        <li><a href="javascript:void(0);"  v-on:click="previous()">Previous</a></li>
        <li><a href="javascript:void(0);"  v-on:click="next()">Next</a></li>
    </ul>
</nav>

<script>
    new Vue({
       el: '#page',
       data : {
           page:<%=page%>,
           is_next : <%=next%>
       },
       methods : {
           previous : function(){
                if(this.page === 1) return;
                this.page -=1;
                window.location.href = '/?page='+this.page;
           },
           next : function(){
               if(this.is_next) return;

               this.page +=1;
               window.location.href = '/?page='+this.page;
           }
       }
    });
</script>

<%- include bottom%>
