<%- include header%>
<div class="body">


    <%- include nav%>
    <div class="wechat"><img src="images/wechat.jpg" alt="二维码"></div>

    <div class="container">

        <section  id="content" class="content">
            <% _.forEach(articles, function(article){ %>
            <div class="pad group">
                <article class="format-image group">


                    <h2 class="post-title pad">
                        <a href="/detail?id=<%=article.aid%>"><%=article.title%></a>
                    </h2>

                    <ul class="post-meta pad group">
                        <li>
                            <i class="fa fa-comments"></i>
                            <a href="/detail?id=<%=article.aid%>">
                                <span id = "url::http://www.7csa.com/detail?id=<%=article.aid%>" class = "cy_cmt_count" ></span>条评论
                            </a>
                        </li>
                        <script id="cy_cmt_num" src="http://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cyscyYsCa"></script>
                        <li><i class="fa fa-clock-o"></i><%=article.cts_limit_display%> </li>
                        <%if(article.tags && article.tags.length > 0){%>
                            <% _.forEach(article.tags, function(tag){%>
                                <li><a href="/?tag=<%=tag%>"><i class="fa fa-tag"></i><%=tag%></a></li>
                            <%});%>
                        <%}%>
                    </ul>
                    <!--<div class="image-container">-->
                        <!--<a target="_blank" href="/detail?id=<%=article.aid%>">-->
                            <!--<img src="" class="attachment-thumb-large" alt="<%=article.title%>"> </a>-->
                    <!--</div>-->
                    <div class="post-inner">
                        <div class="post-deco">
                            <div class="hex hex-small">
                                <div class="hex-inner"><i class="fa"></i></div>
                                <div class="corner-1"></div>
                                <div class="corner-2"></div>
                            </div>
                        </div>
                        <div class="post-content pad">
                            <div class="entry custome">
                                <%-article.content_mini%>
                            </div>
                            <a class="more-link-custom" target="_blank" href="/detail?id=<%=article.aid%>"><span><i>更多</i></span></a>
                        </div>
                    </div>
                </article>
            </div>
            <%});%>
        </section>
    </div>

<nav>
    <ul id="page" class="pager">
        <li><a href="javascript:void(0);"  v-on:click="previous()">Previous</a></li>
        <li><a href="javascript:void(0);"  v-on:click="next()">Next</a></li>
    </ul>
</nav>
</div>
<%- include bottom_nav%>

<script>
    new Vue({
       el: '#page',
       data : {
           page:<%=page%>,
           is_next : <%=next%>
       },
       methods : {
           previous : function(){
                if(this.page === 1) return;
                this.page -=1;
                window.location.href = '/?page='+this.page;
           },
           next : function(){
               if(this.is_next) return;

               this.page +=1;
               window.location.href = '/?page='+this.page;
           }
       }
    });
</script>
<script>
    $(function(){
        var slogan = $('#slogan');

        slogan.typed(
                {
                    replaceBaseText: true,
                    strings: [
                        slogan.attr('data-text')
                    ],
                    showCursor: false,
                    typeSpeed: 10,
                    backSpeed: 20,
                    backDelay: 100,
                    cursorChar: "|"
                }
        );
    });
</script>

<%- include bottom%>
