<%- include ./../header%>
<div class="body">
    <%- include ./../nav%>
    <br>
    <div class="container">
        <div id="post" class="col-md-10 col-md-offset-1">
            <form action="/do_save" method="post">

                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="hidden" name="_csrf" value="<%= csrf%>">
                    <input type="hidden" name="aid" value="<%=article.aid%>">
                    <input class="form-control" name="title" type="text" id="title" value="<%=article.title%>">
                </div>
                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea  cols="30" rows="10" class="form-control" name="content"><%-article.content%></textarea>
                </div>
                <div class="form-group">
                    <select id="multiple" name="tags" class="form-control js-example-basic-multiple" multiple="multiple">
                        <% _.forEach(tags, function(tag){%>
                            <option value="<%= tag.name%>"><%= tag.name%></option>
                        <%})%>
                    </select>
                </div>
                <div class="form-group">
                    <input class="btn btn-success form-control" type="submit" value="提交">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var tags = '<%=article.tags%>'.split(',');

    $(function() {
        $('#multiple option').each(function () {
            if(tags.indexOf($(this).val()) > -1){
                $(this).attr('selected','selected');
            }
        });

        $(".js-example-basic-multiple").select2({
            placeholder: "添加标签"
        });
    });
</script>
<%- include ./../bottom%>