<%- include ./../header%>
<div id="wrapper">

    <div id="page" class="container">
        <div class="main group at-post">
            <%if(is_login){%>
            <div class="right_edit">
                <a href="/edit?aid=<%=article.aid%>" >
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </div>
            <%}%>
            <section class="content">
                <div class="pad group">

                    <article>

                        <div class="post-inner at-post">
                            <h1 class="post-title pad at-post"> <%-article.title%> </h1>
                            <div class="post-content pad">
                                <div class="entry">
                                    <%-article.content_display%>
                                </div>
                            </div><!--/.post-content-->

                        </div><!--/.post-inner-->

                    </article><!--/.post-->
                </div><!--/.pad-->

            </section><!--/.content-->
        </div>
    </div>
</div>
<%- include ./../bottom%>