<%- include ./../header%>
<div id="wrapper">

    <div id="page" class="container">
        <div class="main group at-post">
            <%if(user){%>
            <div class="right_edit">
                <a href="/edit?aid=<%=article.aid%>" >
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </div>
            <%}%>
            <section class="content">
                <div class="pad group">

                    <article>

                        <div class="post-inner at-post">
                            <h1 class="post-title pad at-post"> <%-article.title%> </h1>
                            <div class="post-content pad">
                                <div class="entry">
                                    <%-article.content_display%>
                                </div>
                            </div><!--/.post-content-->

                        </div><!--/.post-inner-->

                    </article><!--/.post-->
                    <div id="SOHUCS"></div>
                </div><!--/.pad-->
            </section><!--/.content-->
        </div>
    </div>

    <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
    <script type="text/javascript">
        window._config = { showScore: true };
        window.changyan.api.config({
            appid: 'cyscyYsCa',
            conf: 'prod_779b419fc5c597e53589bcb46e0d837a'
        });
    </script>
</div>


<%- include ./../bottom%>